.custom-scrollbar {
  /* scrollbar-width: thin;  */
  scrollbar-color: transparent transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-track {
  display: none;
  /* background: transparent;  */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  display: none;
  /* background-color: transparent;  */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
